.tittle {
  text-align: center;
  font-size:40px;
}
.dateInput {
  border: 0px;
  background: url(date_24px_533395_easyicon.net.ico) no-repeat;
  background-position: 3px;
  width: 30px;
  height: 20px;
  line-height:0;
  font-size:0;
  overflow:hidden;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
